<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <br>
    <div class="fadeIn first">
      <h4>Welcome to Fuzzy Trader</h4>
      <p>Your Market Stocks and Bitcoin manager</p>
    </div>
    <br><br>

    <!-- Login Form -->
    <form [formGroup]="authUserForm" (ngSubmit)="submitForm(authUserForm.value)">
      <input type="text" [formControl]="authUserForm.controls['email']" id="login" class="fadeIn second" name="login" placeholder="E-mail">
      <input type="password" [formControl]="authUserForm.controls['password']" id="password" class="fadeIn third" name="login" placeholder="Password">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

    <div id="formFooter">
      <a class="underlineHover" href="#" routerLink='../signup'>Sign up</a>
    </div>

  </div>
</div>